.heroQuestCard {
	width: 100%;
	background-color: #fff;
	box-shadow: 3px 0 4px 5px rgba(0,0,0,0.02);
	justify-content: flex-start;
	align-items: stretch;
	border-radius: 0.5rem;
	margin-bottom: 2rem;
}

/* Image */

.heroQuestCard__image {
	width: 200px;
	background-color: rgb(206, 195, 195);
	border-radius: 0.5rem 0 0 0.5rem;
}

/* Info container */

.heroQuestCard__info {
	padding: 1.25rem 1.25rem 1.25rem 1.5rem;
	justify-content: flex-start;
	align-items: flex-start;
}

.heroQuestCard__header {
	position: relative;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.heroQuestCard__header--title {
	font-size: 2rem;
	font-weight: 700;
	padding-right: 1.5rem;
}

.heroQuestCard__buttons {
	/* position: absolute;
	top: 0;
	right: 0;
	border-radius: 0 0.5rem 0 0.5rem; */
}

.heroQuestCard__button--info {
	margin-right: 0.5rem;
	width: 26px;
	height: 26px;
	border-radius: 20px;
	background-color: rgb(214, 214, 214);
	cursor: pointer;
}

.heroQuestCard__button--x {
	width: 26px;
	height: 26px;
	border-radius: 20px;
	background-color: rgb(214, 214, 214);
	cursor: pointer;
}

.heroQuestCard__lootContainer {
	margin-bottom: 1rem;
}

.heroQuestCard__loot {
	margin-right: 1rem;
}

.heroQuestCard__loot--image {
	width: 20px;
}

.heroQuestCard__loot--text {
	margin-bottom: 0.5rem;
	font-size: 0.75rem;
}

.heroQuestCard__loot--currencies {
	height: 36px;
}

.singleReward__container {
	position: relative;
	cursor: pointer;
	margin-right: 0.75rem;
}

.singleReward__rewardIcon {
	width: 20px;
	height: 20px;
	margin-bottom: 0.25rem;
}

.singleReward__hiddenText {
	position: absolute;
	top: 28px;
	left: 0;
	transform: translateX(calc(-50% + 10px));
	padding: 1rem;
	background-color: rgb(19, 1, 19);
	color: #fff;
	text-align: center;
	border-radius: 3px;
	z-index: 9999;
}

.singleReward__hiddenText--triangle {
	position: absolute;
	top: -4px;
	left: calc(50% - 10px);
	width: 20px;
	height: 20px;
	background-color: rgb(19, 1, 19);
	transform:  rotate(45deg);
}

.singleReward__value {
	font-size: 0.75rem;
}

.singleReward__hiddenText--text {

}